/* Universal*/
*{
    margin: 0px;
    padding: 0px;
}

/* Fonts */

.inter-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Hero Section */
.hero_banner{
    background-image: url(/Assets/Hero-bg.png);
    background-size: cover;
    height: 600px;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
}
.nav_bar h2{
    font-size: 34px;
    font-weight: 900;
    
}
button{
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    padding: 12px 36px;
    color: white;
    background-color: #4E47FF;
    border: none;
}
.hero_content{
    text-align: center;
    margin-top: 128px;
    margin-bottom: 152;
}
.hero_content h2{
    color: #252432;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 37px;
}

/* Main Daddy */
.daddy{
    background-color: #F5F8FF;
}

/* Section 1 */
.see_action{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 220px;
    padding: 120px 150px 120px 150px;
}

.see_action_text h2{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}
.see_action_text p{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.see_action img{
    border-radius: 48px;
}

/* section 2 */
.users_content{
    text-align: center;
    background-color: #e5e7ff;
    margin: 0px 150px;
    padding: 50px 140px;
}

.users_info{
    display: flex;
    justify-content: space-around;
}
.users_info h2{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    /* margin-top: 10px; */
}

.users_info p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* Section 3 */
