/* Universal*/
*{
    margin: 0px;
    padding: 0px;
}

/* Fonts */

.inter-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Hero Section */
.hero_banner{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    height: 600px;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
}
.nav_bar h2{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    
}
button{
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    padding: 12px 36px;
    color: white;
    background-color: #4E47FF;
    border: none;
}
button:hover{
    background-color:brown;
}
.hero_content{
    text-align: center;
    margin-top: 128px;
    margin-bottom: 152;
}
.hero_content h2{
    color: #252432;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 37px;
}

/* Main Daddy */
.daddy{
    background-color: #F5F8FF;
}


/* Section 1 */
.see_action{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 220px;
    padding: 120px 150px 120px 150px;
}

.see_action_text h2{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}
.see_action_text p{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.see_action img{
    border-radius: 48px;
}

/* section 2 */
.users_content{
    text-align: center;
    background-color: #e5e7ff;
    margin: 0px 150px;
    padding: 50px 140px;
    border-radius: 24px;
}

.users_info{
    display: flex;
    justify-content: space-around;
}
.users_info h2{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
}

.users_info p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* Section 3 */

.users_review{
    margin-top: 140px;
}
.users_review h2{
    text-align: center;
    font-size: 42px;
    margin-bottom: 30px;
}
.users_review_flex{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    gap: 30px;

}
.user_data{
    display: flex;
    
}
.user_data img{
    border-radius: 50px;
    margin-right: 20px;
}

.users_review_user_1{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}

.users_review_user_1 h3{
    margin-top: 12px;
}
.users_review_user_1 p{
    margin-top: 12px;
}
.users_review_user_1 .user_data{
    margin-top: 15px;
}
.user_data_name{
    text-align: left;
}

.user_data_name h5{
    color: #757575;
}
.user_data_name p{
    color: #B3B3B3;
}

/* Section 4*/
.focus_better{
    background-color: white;
    text-align: center;
    margin: 120px 150px;
    border-radius: 24px;
}

.focus_better_content{
    padding: 71px 0px 0px 0px;
}
.focus_better_content h2{
    margin-bottom: 20px;
    font-size: 50px;
}
.focus_better_content p{
    margin-bottom: 20px;
    color: #757575;
}
.focus_better_content button{
    margin-bottom: 20px;
}
.focus_better img{
    border-radius: 48px;
    margin-bottom: 71px;  
}

/* Section 5 */
.get_in_touch{
    display: flex;
    justify-content: space-between;
    margin: 120px 150px 0px 150px;
    padding-bottom: 120px;
    align-items: center;
}

.gt_content h2{
    font-size: 97px;
    padding-right: 115px;
}

.my_form form h3{
    font-size: 18px;
    margin-bottom: 20px;
} 

.my_form form input , textarea {
    width: 400px;
    border-radius: 10px;
    padding: 22px 20px;
    margin-bottom: 20px;
    border: 2px solid #B3B3B3;
}
.my_form form button{
    width: 445px;
}
.input_data{
    font-size: 20px;
}

/* footer section */
footer{
    text-align: center;
    padding: 90px 400px;
}
footer h2{
    font-size: 100px;
    color: #4E47FF;
}
footer p{
    color: #757575;
    margin: 10px;
    margin-bottom: 30px;
}
.menu_list{
    display: flex;
    justify-content: space-evenly;
}

footer a{
    text-decoration: none;
    color: #757575;
    
}
footer ul li{
    list-style: none;
}
footer a:hover{
    background-color:brown;
    color: white;
}

